CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=9000
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DATABASE=test_db

REDIS_BROKER=redis://redis:6379/0       # redis://localhost:6379/0
REDIS_BACKEND=redis://redis:6379/0      # redis://localhost:6379/0